# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# Database files
*.db

# Flask-Migrate files
migrations/

# Instance folder (Flask)
instance/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

