{% extends 'base.html' %}

{% block content %}
<main class="container">
    <div class="card">
        {% if page_title %}
            <div class="card__title">{{ page_title }}</div>
        {% endif %}
        <div class="card__content">
            {% if description %}
                <p class="mb-3">{{ description }}</p>
            {% endif %}
            <h2 class="card__title">Products</h2>
            <div class="overflow-x-auto">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Product ID</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Price $</th>
                            <th>Stock Quantity</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                        <tr>
                            <td>{{ product.product_id }}</td>
                            <td>{{ product.name }}</td>
                            <td>{{ product.description }}</td>
                            <td>{{ product.price }}</td>
                            <td>{{ product.stock_quantity }}</td>
                            <td>
                                <a class="btn btn--small btn--primary" href="{{ url_for('update_product', product_id=product.product_id) }}">Update</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{% endblock %}
